@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1d1d1f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(28 28 34);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-link:hover {
  color: #0070f3;
}

.profile-img {
  display: block;
  margin: auto;
  border-radius: 50%;
  padding-bottom: 1rem;
}

.profile-img:hover {
  transform: scale(1.1);
}

.section-link {
  padding: 0.5rem;
  text-underline-offset: 0.4rem;
}

.section-link:hover {
  color: #0070f3;
}

@media screen and (max-width: 640px) {
  .section-link {
    text-align: center;
    padding: 0.1rem;
  }
  .nav-link {
    text-align: center;
  }
}

.projects-grid {
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  max-width: 550px;
}

.project-link {
  color: white !important;
}

.project-link:hover {
  color: #0070f3 !important;
}

.project-image {
  width: auto;
  max-width: 200px;
  height: 125px;
  border-radius: 10px;
  margin: auto;
}

.project-card {
  max-width: 300px;
  max-height: 500px;
  background-color: rgb(28 28 34) !important;
  box-shadow: none;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.tilt-shaking {
  animation: tilt-shaking 1s infinite;
}

.org-text {
  color: #ca444a;
}

.org-text:hover {
  text-decoration: underline;
}

.main-text {
  display: flex;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: justify;
  text-align-last: center;
}

@media screen and (max-width: 700px) {
  .main-text {
    text-align-last: unset;
  }
}

@media screen and (max-width: 640px) {
  .main-text {
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .project-image {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .project-card {
    max-width: 400px;
    max-height: 100%;
  }
}

.MuiList-root {
  background-color: #2f3747;
  color: white;
  padding: 0.5rem;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-text {
  text-transform: capitalize !important;
}
