@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1d1d1f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(28 28 34);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-link:hover {
  color: #0070f3;
}

.profile-img {
  display: block;
  margin: auto;
  border-radius: 50%;
  padding-bottom: 1rem;
}

.profile-img:hover {
  transform: scale(1.1);
}

.section-link {
  padding: 0.5rem;
  text-underline-offset: 0.4rem;
}
.section-link:hover {
  color: #0070f3;
};